target
.git
.github
.devcontainer
.fleet
.vscode
.gitignore
.gitmodules
.gitattributes
.dockerignore
.editorconfig
.env
.env.example
.envrc
.envrc.example
.envrc.local
.envrc.local.example
.envrc.local.template
.envrc.template