name: '#reusable build and tests reusable'
on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0 # TODO: remove this when we cache the builds

jobs:
  tests:
    name: build and tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: build
        run: |
          cargo build --all --all-features
          cargo build --all --all-features --release

      - name: fmt check
        run: cargo fmt --all -- --check

      - name: check
        run: cargo check --all

      - name: tests
        run: cargo test --all --all-features --release -- nocapture

      - name: tests
        run: cargo publish --dry-run --allow-dirty
