name: check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set default nightly
      run: rustup default nightly && rustup update    
    - name: Build
      run: cargo build --verbose
    - name: Check
      run: cargo check --verbose
    - name: Clippy
      run: cargo clippy --all-features --verbose
